<p id="notice"><%= notice %></p>

<div class="product-wrapper">
  <div class="product-name">
    <h4><%= @product.name %></h4>
  </div>
  <div class="image-profile">
    <img src="<%= @product.image %>" alt="<%= @product.name %>", width="100%">
  </div>
  <div class="product-color">
    <select class="selectpicker">
      <option value="black">Black</option>
      <option value="white">White</option>
      <option value="navy">Navy</option>
    </select>
  </div>
  <div class="product-brand"><h5><%= @product.brand %></h5></div>
  <div class="product-price"><%= number_to_currency(@product.price) %></div>
  <div class="product-available">
    <% if @product.available == true %>
      <h5>In stock</h5>
    <% else %>
      <h5>Currently out of stock</h5>
    <% end %>
  </div>
  <div class="product-description"><p><%= @product.description %></p></div>
</div>


<div class="product-link-section">
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>
